
{% do view.registerAssetBundle("imarc\\craftentrytoc\\assetbundles\\SidebarAssets") %}

{% import _self as macros %}

{% for field in settings.fieldsToIndex %}
    {% if entry[field.fieldHandle] is defined and entry[field.fieldHandle] %}
        {% set indexField = entry[field.fieldHandle] %}
        {% if indexField and indexField.fieldId|length %}
            {% if indexField.fieldId is iterable %}
                {% set fieldObj = craft.app.fields.getFieldById(indexField.fieldId[0]) %}
            {% else %}
                {% set fieldObj = craft.app.fields.getFieldById(indexField.fieldId) %}
            {% endif %}
            <div class="toc accordion" id="{{ field.fieldHandle }}">
                <div class="field accordion-item">
                    <div class="data≈">
                        <div class="accordion-item-header">
                            <h4>{{ fieldObj.name }} Table of Contents</h4>
                        </div>
                        {% if fieldObj.className == "benf\\neo\\Field" %}
                           <div class="accordion-item-body">

                                {% macro renderBlocks(blocks, field, prefix) %}
                                    {% set numbering = field.numbering|default(false) %}

                                    {% if numbering %}
                                        <ol class="accordion-item-body-content">
                                    {% else %}
                                        <ul class="accordion-item-body-content">
                                    {% endif %}

                                    {% for block in blocks %}
                                        {% set itemTitle = block.type.name %}

                                        {% set titleFound = false %}
                                        {% if field.blockTitleFields is defined %}
                                            {% for f in field.blockTitleFields %}
                                                {% if not titleFound and block[f] is defined and block[f] %}
                                                    {% set itemTitle = itemTitle ~ ' (' ~ block[f]|striptags ~ ')' %}
                                                    {% set titleFound = true %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                        {% set number = numbering ? (prefix ? prefix ~ '.' ~ loop.index : loop.index) : '' %}

                                        <li>
                                            <a href="#{{ block.id }}" class="tocitem" id="toc{{ block.id }}">
                                                {% if numbering %}{{ number }}. {% endif %}
                                                {{ itemTitle }}
                                            </a>

                                            {% if block.children|length %}
                                                {{ _self.renderBlocks(block.children.all(), field, number) }}
                                            {% endif %}
                                        </li>

                                    {% endfor %}

                                    {% if numbering %}
                                        </ol>
                                    {% else %}
                                        </ul>
                                    {% endif %}
                                {% endmacro %}

                                {{ macros.renderBlocks(indexField.level(1).all(), field, '') }}

                            </div>
                        {% elseif fieldObj.className == "craft\\fields\\Matrix" %}
                            <div class="accordion-item-body">
                                <ul class="accordion-item-body-content">
                                    {% for block in indexField.all() %}
                                        {% set itemTitle = macros.getTitle(block, field) %}
                                        <li>
                                            <a href="#{{ block.id }}" class="tocitem" id="toc{{ block.id }}">{{ itemTitle }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}

{% macro getTitle(block, field) %}{% apply spaceless %}
    {% set title = block.type.name %}
    {% set titleFound = false %}
    {% if field.fieldTitles is defined %}
        {% for titleName in field.fieldTitles %}
            {% if not titleFound %}
                {% if block[titleName] is defined and block[titleName] %}
                    {% set title = title ~ ": " ~ block[titleName]|striptags %}
                    {% set titleFound = true %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
    {{ title }}
{% endapply %}{% endmacro %}


